@model Prof

<form asp-controller="Prof" asp-action="InserirProf" method="post">

    <div class="mb-3 col-md-6">
        <label class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control">
    </div>

    <div class="mb-3 col-md-6">
        <label class="form-label">Cpf</label>
        <input type="text" asp-for="Cpf" class="form-control">
    </div>

    <div class="mb-3 col-md-6">
        <label class="form-label">Area de Atuação</label>
        <input type="text" asp-for="Atuacao" class="form-control">
    </div>

    <div class="mb-3 col-md-6">
        <label class="form-label">Disciplina</label>
        <select asp-for="Disciplina" class="form-control">
            <option value="">Selecione a Disciplina</option>
            <option value="Costura">Costura</option>
            <option value="Enfermagem">Enfermagem</option>
            <option value="Informática Básica">Informática Básica</option>
            <option value="Análise de Dados">Análise de Dados</option>
            <option value="Programador Web">Programador Web</option>
            <option value="Programador de Sistemas">Programador de Sistemas</option>
            <option value="Maquiagem">Maquiagem</option>
        </select>
    </div>

    <div class="mb-3 col-md-6">
        <label class="form-label">Email</label>
        <input type="email" asp-for="Email" class="form-control">
    </div>

    <div class="mb-3 col-md-6">
        <label class="form-label">Telefone</label>
        <input type="text" asp-for="Telefone" class="form-control">
    </div>

    <div class="mb-3 col-md-6">
        <label class="form-label">CEP</label>
        <input type="text" asp-for="CEP" class="form-control">
    </div>

    <div class="mb-3 col-md-6">
        <label class="form-label">Status</label>
        <select asp-for="StatusProfessor" class="form-control">
            <option value="">Selecione o status</option>
            <option value="Ativo">Ativo</option>
            <option value="Aposentado">Aposentado</option>
            <option value="Afastado">Afastado</option>
        </select>
    </div>
    <div class="mb-3 col-md-6">
        <label class="form-label">Formacao</label>
        <input type="text" asp-for="Formacao" class="form-control">
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-success">Adicionar</button>
        <button type="button" class="btn btn-primary" onclick="window.history.back();">Voltar</button>
    </div>
</form>
