@model Professor

<form asp-controller="Aluno" asp-action="InserirProfessor" method="post">

    <div class="mb-3 col-md-6">
        <label class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control">
    </div>

    <div class="mb-3 col-md-6">
        <label class="form-label">Cpf</label>
        <input type="text" asp-for="Cpf" class="form-control">
    </div>

    <div class="mb-3 col-md-6">
        <label class="form-label">Area de Atuaçã</label>
        <input type="text" asp-for="Area_atuacao" class="form-control">
    </div>

    <div class="mb-3 col-md-6">
        <label class="form-label">Disciplina</label>
        <input type="number" asp-for="Disciplina" class="form-control">
    </div>

    <div class="mb-3 col-md-6">
        <label class="form-label">Email</label>
        <input type="email" asp-for="Email" class="form-control">
    </div>

    <div class="mb-3 col-md-6">
        <label class="form-label">Status</label>
        <input type="date" asp-for="StatusProfessor" class="form-control">
    </div>

    <div class="mb-3 col-md-6">
        <label class="form-label">Formação</label>
        <input type="email" asp-for="Formacao_academica" class="form-control">
    </div>

    <div class="mb-3 col-md-6">
        <label class="form-label">Telefone</label>
        <input type="text" asp-for="Telefone" class="form-control">
    </div>

    <div class="mb-3 col-md-6">
        <label class="form-label">CEP</label>
        <input type="text" asp-for="Cep" class="form-control">
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-info">Adicionar</button>
    </div>
</form>
